@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .navigation__button {
    top: 4rem;
    right: 4rem;
  }

  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }

  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
